bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
release/wi-kubernetes-manifests.yaml

terraform/.terraform*
terraform/defaults.tfvars
terraform/tfplan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
values.yml
terraform/architect-kubeconfig
terraform/private_ssh_key
